@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 240, 240);
}

header {
    margin: 8em auto;
}

#title, #description {
    text-align: center;
    margin: 8px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    margin: 0 2px;
    padding: 16px;
}

fieldset:not(:last-of-type) {
    margin-bottom: 20px;
}