@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --accent-blue-color: #1a73e8;
    --dark-blue-color: rgb(28, 105, 210);
    --darker-blue-color: rgb(28, 94, 186);
    --default-grey-color: #dadce0;
    --accent-grey-color: #b2b4b8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(240, 240, 240);
}

header {
    margin: 8em auto;
}

#title, #description {
    text-align: center;
    margin: 8px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    background-color: white;
    margin: 0 2px 20px 0;
    padding: 16px;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

label {
    display: block;
    font-weight: 500;
    width: 100%;
}

label:not(:last-of-type), .radio-group {
    margin-bottom: 20px;
}

label.radio-question, label.checkbox-question {
    margin-bottom: 4px;
}

label.radio-label, label.checkbox-series {
    margin-bottom: 0px;
    font-weight: normal;
}


input, textarea, select, .radio-group, .checkbox-series, .radio-label {    
    width: 97%;
    min-height: 3em;
    margin-top: 4px;
}

select {
    width: 100%;
}

input, textarea, select {
    border: 1px solid var(--default-grey-color);
    border-radius: 4px;
    outline: none;
    padding: 0 8px;
}

input:hover, textarea:hover, select:hover {
    border-color: var(--accent-grey-color);
}

input:focus:not(.submit-btn), textarea:focus, select:focus {
    border: 1px solid var(--accent-blue-color);
}

/* Custom checkbox ~ start*/
.checkbox-series {
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
}

.checkbox-series input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 16px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: white;
    border: 1px solid var(--default-grey-color);
    border-radius: 4px;
    transition: 240ms;
}

.checkbox-series:hover input~.checkmark {
    border-color: var(--accent-grey-color);
}

.checkbox-series input:checked~.checkmark {
    background-color: var(--accent-blue-color);
    border-color: var(--accent-blue-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-series input:checked~.checkmark:after {
    display: block;
}

.checkbox-series .checkmark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom checkbox ~ end*/

/* Custom radio */
.radio-label {
    display: block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    align-items: center;
}

.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.radiomark {
    position: absolute;
    top: 16px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid var(--default-grey-color);
    border-radius: 50%;
}

.radio-label:hover input~.radiomark {
    border-color: var(--accent-grey-color);
}

.radio-label input:checked~.radiomark {
    background-color: var(--accent-blue-color);   
    border-color: var(--accent-blue-color);
    transition: 240ms background-color ease-in-out;
}

.radiomark:after {
    content: "";
    position: absolute;
    display: none;    
}

.radio-label input:checked + .radio-label {
    font-weight: bold;
}

.radio-label input:checked~.radiomark:after {
    display: block;
}

.radio-label .radiomark:after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom radio ~ end */

.submit-btn {
    width: 112px;
    min-height: 0;
    height: 40px;
    color: white;
    background-color: var(--accent-blue-color);
    font-size: 1em;
    padding: none;
    border: none;
    float: right;
    transition: 120ms;
}

.submit-btn:hover {
    background-color: var(--dark-blue-color);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.submit-btn:active {
    background-color: var(--darker-blue-color);
}

footer {
    margin-top: 128px;
    display: flex;
    align-items: center;
}

footer p {
    display: inline;
    font-weight: 300;
    color: rgb(140, 140, 140);
}

footer div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

footer div a {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

footer div a img {
    height: 24px;
    filter: grayscale(100%) opacity(45%);
    transition: 120ms;
}

footer div a img:hover {
    filter: grayscale(100%) opacity(100%);
}